body {
  background-color: cornflowerblue;
  margin: 0;
  color: white;
  font-family: times, serif;
}
img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
p, body ol{
  margin: 15px;
font-size: 1.5em;
}
h1 {
  font-size: 3em;
  background-color: dodgerblue;
}
h1, h2, h3, h4 {
  text-shadow: 1px 1px blue;
  text-align: center;
}
h2, h3, h4 {
  font-size: 1.25em;
}
nav {
  text-align: center;
  background: darkblue;
  width: 100%;
  font-size: 1.25em;
}
nav a {text-decoration: none;}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
nav li {
  padding-top: .25em;
  padding-bottom: .25em;
  padding-right: .1em;
  padding-left: .1em;
  width: 100%;
  border: 2px solid lightskyblue;
}
.shark {
  border: 10px ridge blue;
  border-radius: 10px;
}
#WARNING {
  background-color: red;
}
#beach {
  border: 10px ridge red;
  border-radius: 20px;
}
.Song{
  background: dodgerblue;
  font-size: 17px;
  height: 350px;
  overflow: auto;
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
  border-radius: 1px;
  padding: 5px;
}
nav a:link{
  color: lightskyblue;
  text-decoration: none;
  text-shadow: 1px 1px white;
}
nav a:hover{
  background: yellow;
  text-shadow: none;
  color: red;
}
nav a:visited{
color: red;
}
footer {
background-color: #0a2a66;
font-size: .60em;
font-style: italic;
text-align: center;
padding-bottom:1em;
color: white;
}
header {
text-align: center;
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
height: 128px;
}
footer a:link {
color: lightgreen;
}
#sources {
font-size: 1.5em;
}
button {
margin-top: 15px;
border: 2px ridge red;
width: 100px;
height: 25px;
}
#button {
text-align: center;
margin: auto;
}
form {
margin: 10px;
height: auto;
background-color: dodgerblue;
padding: 5px;

font-size: large;
line-height: 2em;
background: darkblue;
border: 2px solid #0a2a66;
border-radius: 10px;
}
input {
border: 2px solid red;
border-radius: 10%;
}
table{
margin: auto;
text-align: center;
width: 90%;
border-spacing: 0;
border: 1px solid blue;
}
th {
font-size: 1.5em;
text-shadow: 1px 1px black;
}
td, th {
padding: 10px;
border: 1px solid blue;
}
tr:nth-of-type(odd) {
background-color: white;
color: steelblue;
}
